            <article class='post-card' data-date='{{date}}' data-views='{{views}}' data-reactions='{{reactions}}' data-forwards='{{forwards}}'>
                <h2 class="rtl right"><a href='posts/{{filename}}.html'>{{title}}</a></h2>
                <time>{{date}}</time>
                <p class="rtl right">{{preview}}</p>
                <div class='post-meta'>
                    <span class='views'>👁️ {{views}}</span>
                    <span class='reactions'>❤️ {{reactions}}</span>
                    <span class='forwards'>📤 {{forwards}}</span>
                </div>
            </article>
